body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
  margin: 0;
  padding: 0;
  background-image: url('https://www.christies.com/img/LotImages/2020/NYR/2020_NYR_19872_0005_000(jackson_pollock_red_composition081504).jpg?maxwidth=2085&maxheight=1950');
}

h1 {
  background-color: darkblue;
  color: white;
  padding: 20px;
  margin: 0;
}

p {
  padding: 20px;
  margin: 0;
}
.logo {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
}

.logo img {
  width: 50px; /* Adjust as needed */
  transition: all 0.5s;
}
