body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    body {
  background-image: url('pollock1.jpg');
  background-size: cover;

  }
  
  h1 {
    background-color: darkblue;
    color: white;
    padding: 20px;
    margin: 0;
  }
  
  p {
    padding: 20px;
    margin: 0;
  }
  
.logo {
  transition: all 0.5s;
}

.logo:hover {
  content: url('pin_logo.png');
}
